@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
  --card: #e8ecf2;
  --border: #e5e7eb;
  --accent: #2563eb;
  --muted: #5c626e;
  --primary: #3b82f6;
  --secondary: #6399f1;
  --navbar: #f5f5f5;
  --footer: #efefef;
  --overlay: rgba(0, 0, 0, 0.4);

  --font-sans: var(--font-inter);
}

.dark {
    --background: #0a0a0a;
    --foreground: #eeeeee;
    --card: #1e293b;
    --border: #374151;
    --accent: #60a5fa;
    --muted: #d0d4dc;
    --primary: #3b82f6;
    --secondary: #93c5fd;
    --navbar: #111827;
    --footer: #1f2937;
    --overlay: rgba(0, 0, 0, 0.5);

    --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans leading-relaxed tracking-normal;
}

.dark body {
  background: var(--background);
  color: var(--foreground);
}


@layer utilities {
  .text-primary {
    color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .text-accent {
    color: var(--accent);
  }

  .hover-text-accent:hover {
    color: var(--accent);
  }

  .text-muted {
    color: var(--muted);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .text-overlay {
    color: var(--overlay);
  }

  .bg-background {
    background-color: var(--background);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .hover-bg-accent:hover {
    background-color: var(--accent);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .hover-bg-primary:hover {
    background-color: var(--primary);
    opacity: 0.9;
  }

  .bg-card {
    background-color: var(--card);
  }

  .bg-navbar {
    background-color: var(--navbar);
  }

  .bg-footer {
    background-color: var(--footer);
  }

  .border-border {
    border-color: var(--border);
  }

  .border-foreground {
    border-color: var(--foreground);
  }

  .hover-border-accent:hover {
    border-color: var(--accent);
  }

  .hover-border-secondary:hover {
    border-color: var(--secondary);
  }

  .focus-border-accent:focus {
    border-color: var(--accent);
  }

  .ring-accent {
    --tw-ring-color: var(--accent);
  }

  .hover-ring-accent:hover {
    --tw-ring-color: var(--accent);
  }

  .focus-ring-accent:focus {
    --tw-ring-color: var(--accent);
  }
}