@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  @apply leading-relaxed tracking-normal;
}

h1 {
  @apply text-3xl font-bold text-gray-900 dark:text-gray-100;
}

h2 {
  @apply text-2xl font-semibold text-gray-800 dark:text-gray-200;
}

h3 {
  @apply text-xl font-medium text-gray-700 dark:text-gray-300;
}